@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
}

<!-- Start content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            
                        </li>
                       
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>Change Password </b></h4>
                    <hr />
                    <div class="row">
                        <div class="col-sm-6">
                            <!---Success Message--->

                            <div class="alert alert-success" role="alert">
                                <strong>Well done!</strong>
                            </div>
                            <!---Error Message--->
                            <div class="alert alert-danger" role="alert">
                                <strong>Oh snap!</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <form class="form-horizontal" method="post"

                                  asp-action="ChangePassword"
                                  onSubmit="return valid();">
                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Current Password</label>
                                    <div class="col-md-8">
                                        <input asp-for="@Model.Password"
                                               class="form-control"
                                               
                                               required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-md-4 control-label">New Password</label>
                                    <div class="col-md-8">
                                        <input asp-for="NewPassword"
                                               class="form-control"
                                               
                                               required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Confirm Password</label>
                                    <div class="col-md-8">
                                        <input id="confirmPass"
                                            asp-for="CheckPassword"
                                               class="form-control rounded-left"
                                               placeholder="Confirm password "
                                              
                                               required />
                                    </div>
                                    <span asp-validation-for="CheckPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">&nbsp;</label>
                                    <div class="col-md-8">
                                        <button type="submit"
                                                class="btn btn-success waves-effect waves-light"
                                                name="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
<!-- content -->

